---
title: "(연구&지윤) 태양광자료분석 -- 일사량자료정리"
author: "임지윤, 신록예찬"
date: "04/03/2023"
---

In [2]:
import pandas as pd
import numpy as np
import itertools

In [4]:
df0 = pd.read_csv('https://raw.githubusercontent.com/pinkocto/noteda/main/posts/data/OBS_ASOS_TIM_data0.csv', encoding='cp949') # 2021-01-01 ~ 2021-12-31
df1 = pd.read_csv('https://raw.githubusercontent.com/pinkocto/noteda/main/posts/data/OBS_ASOS_TIM_data1.csv') # 2022-01-01 ~ 2023-12-31
df2 = pd.read_csv('https://raw.githubusercontent.com/pinkocto/noteda/main/posts/data/test_raw.csv', encoding='cp949') # 2023-01-01 ~ 2023-01-15

`-` df_raw

In [5]:
df_raw = pd.concat([df0, df1])
df_raw

         지점  지점명                   일시  일사(MJ/m2)
0        93  북춘천     2021-01-01 08:00       0.00
1        93  북춘천     2021-01-01 09:00       0.37
2        93  북춘천     2021-01-01 10:00       0.96
3        93  북춘천     2021-01-01 11:00       1.40
4        93  북춘천     2021-01-01 12:00       1.72
...     ...  ...                  ...        ...
229672  283  경주시  2022-12-31 14:00:00       1.82
229673  283  경주시  2022-12-31 15:00:00       1.52
229674  283  경주시  2022-12-31 16:00:00       0.96
229675  283  경주시  2022-12-31 17:00:00       0.35
229676  283  경주시  2022-12-31 18:00:00       0.01

[444720 rows x 4 columns]

`-` 지점칼럼 삭제 // 일시 $\to$ 날짜,시간 으로 분리

In [6]:
df_temp = df_raw.assign(날짜= list(map(lambda x: x[:10],df_raw['일시'])))\
.assign(시간= list(map(lambda x: x[11:16],df_raw['일시'])))\
.drop(['일시','지점'],axis=1).rename({'일사(MJ/m2)':'일사'},axis=1).reset_index(drop=True)
df_temp

        지점명    일사          날짜     시간
0       북춘천  0.00  2021-01-01  08:00
1       북춘천  0.37  2021-01-01  09:00
2       북춘천  0.96  2021-01-01  10:00
3       북춘천  1.40  2021-01-01  11:00
4       북춘천  1.72  2021-01-01  12:00
...     ...   ...         ...    ...
444715  경주시  1.82  2022-12-31  14:00
444716  경주시  1.52  2022-12-31  15:00
444717  경주시  0.96  2022-12-31  16:00
444718  경주시  0.35  2022-12-31  17:00
444719  경주시  0.01  2022-12-31  18:00

[444720 rows x 4 columns]

`-` 파주,상주,동두천,충주,제천은 삭제

In [7]:
df_temp = df_temp.query("지점명 not in ['파주','상주','동두천','충주','제천']").reset_index(drop=True)
df_temp

        지점명    일사          날짜     시간
0       북춘천  0.00  2021-01-01  08:00
1       북춘천  0.37  2021-01-01  09:00
2       북춘천  0.96  2021-01-01  10:00
3       북춘천  1.40  2021-01-01  11:00
4       북춘천  1.72  2021-01-01  12:00
...     ...   ...         ...    ...
420955  경주시  1.82  2022-12-31  14:00
420956  경주시  1.52  2022-12-31  15:00
420957  경주시  0.96  2022-12-31  16:00
420958  경주시  0.35  2022-12-31  17:00
420959  경주시  0.01  2022-12-31  18:00

[420960 rows x 4 columns]

`-` 시간이 비어있지 않도록..

In [8]:
reg = df_temp['지점명'].unique().tolist() 
day = df_temp['날짜'].unique().tolist() 
time = list(df_temp['시간'].unique())
time = ['0{}:00'.format(i) for i in range(0,8)] + time

In [9]:
df_temp2 = pd.DataFrame(itertools.product(reg,day,time)).rename({0:'지점명',1:'날짜',2:'시간'},axis=1).merge(df_temp,how='left').fillna(0)
df_temp2

        지점명          날짜     시간   일사
0       북춘천  2021-01-01  00:00  0.0
1       북춘천  2021-01-01  01:00  0.0
2       북춘천  2021-01-01  02:00  0.0
3       북춘천  2021-01-01  03:00  0.0
4       북춘천  2021-01-01  04:00  0.0
...     ...         ...    ...  ...
802995  경주시  2022-12-31  07:00  0.0
802996  경주시  2022-12-31  20:00  0.0
802997  경주시  2022-12-31  06:00  0.0
802998  경주시  2022-12-31  21:00  0.0
802999  경주시  2022-12-31  05:00  0.0

[803000 rows x 4 columns]

In [10]:
df_temp2[:20]

    지점명          날짜     시간    일사
0   북춘천  2021-01-01  00:00  0.00
1   북춘천  2021-01-01  01:00  0.00
2   북춘천  2021-01-01  02:00  0.00
3   북춘천  2021-01-01  03:00  0.00
4   북춘천  2021-01-01  04:00  0.00
5   북춘천  2021-01-01  05:00  0.00
6   북춘천  2021-01-01  06:00  0.00
7   북춘천  2021-01-01  07:00  0.00
8   북춘천  2021-01-01  08:00  0.00
9   북춘천  2021-01-01  09:00  0.37
10  북춘천  2021-01-01  10:00  0.96
11  북춘천  2021-01-01  11:00  1.40
12  북춘천  2021-01-01  12:00  1.72
13  북춘천  2021-01-01  13:00  1.84
14  북춘천  2021-01-01  14:00  1.74
15  북춘천  2021-01-01  15:00  1.30
16  북춘천  2021-01-01  16:00  0.93
17  북춘천  2021-01-01  17:00  0.29
18  북춘천  2021-01-01  18:00  0.01
19  북춘천  2021-01-01  19:00  0.00

In [11]:
df_temp2[-20:]

        지점명          날짜     시간    일사
802980  경주시  2022-12-31  05:00  0.00
802981  경주시  2022-12-31  06:00  0.00
802982  경주시  2022-12-31  07:00  0.00
802983  경주시  2022-12-31  08:00  0.02
802984  경주시  2022-12-31  09:00  0.41
802985  경주시  2022-12-31  10:00  1.05
802986  경주시  2022-12-31  11:00  1.52
802987  경주시  2022-12-31  12:00  1.86
802988  경주시  2022-12-31  13:00  1.93
802989  경주시  2022-12-31  14:00  1.82
802990  경주시  2022-12-31  15:00  1.52
802991  경주시  2022-12-31  16:00  0.96
802992  경주시  2022-12-31  17:00  0.35
802993  경주시  2022-12-31  18:00  0.01
802994  경주시  2022-12-31  19:00  0.00
802995  경주시  2022-12-31  07:00  0.00
802996  경주시  2022-12-31  20:00  0.00
802997  경주시  2022-12-31  06:00  0.00
802998  경주시  2022-12-31  21:00  0.00
802999  경주시  2022-12-31  05:00  0.00

In [12]:
df_temp2

        지점명          날짜     시간   일사
0       북춘천  2021-01-01  00:00  0.0
1       북춘천  2021-01-01  01:00  0.0
2       북춘천  2021-01-01  02:00  0.0
3       북춘천  2021-01-01  03:00  0.0
4       북춘천  2021-01-01  04:00  0.0
...     ...         ...    ...  ...
802995  경주시  2022-12-31  07:00  0.0
802996  경주시  2022-12-31  20:00  0.0
802997  경주시  2022-12-31  06:00  0.0
802998  경주시  2022-12-31  21:00  0.0
802999  경주시  2022-12-31  05:00  0.0

[803000 rows x 4 columns]

`-` 시간,날짜 $\to$ 일시

In [13]:
df_temp3=df_temp2.assign(일시 = list(map(lambda x,y: x+'-'+y,df_temp2['날짜'],df_temp2['시간'])))\
.drop(['날짜','시간'],axis=1)
df_temp3

        지점명   일사                일시
0       북춘천  0.0  2021-01-01-00:00
1       북춘천  0.0  2021-01-01-01:00
2       북춘천  0.0  2021-01-01-02:00
3       북춘천  0.0  2021-01-01-03:00
4       북춘천  0.0  2021-01-01-04:00
...     ...  ...               ...
802995  경주시  0.0  2022-12-31-07:00
802996  경주시  0.0  2022-12-31-20:00
802997  경주시  0.0  2022-12-31-06:00
802998  경주시  0.0  2022-12-31-21:00
802999  경주시  0.0  2022-12-31-05:00

[803000 rows x 3 columns]

`-` 저장

In [14]:
df_temp3.rename({'지점명':'region','일사':'solar_radiation','일시':'date'},axis=1)

       region  solar_radiation              date
0         북춘천              0.0  2021-01-01-00:00
1         북춘천              0.0  2021-01-01-01:00
2         북춘천              0.0  2021-01-01-02:00
3         북춘천              0.0  2021-01-01-03:00
4         북춘천              0.0  2021-01-01-04:00
...       ...              ...               ...
802995    경주시              0.0  2022-12-31-07:00
802996    경주시              0.0  2022-12-31-20:00
802997    경주시              0.0  2022-12-31-06:00
802998    경주시              0.0  2022-12-31-21:00
802999    경주시              0.0  2022-12-31-05:00

[803000 rows x 3 columns]

In [15]:
df = df_temp3.rename({'지점명':'region','일사':'solar_radiation','일시':'date'},axis=1)
df.to_csv("solar_radiation.csv",index=False)
!git add .
!git commit -m .
!git push

[main 299d058] .
 3 files changed, 806273 insertions(+)
 create mode 100644 "posts/3_Researches/SOLAR/.ipynb_checkpoints/2023-04-03-\354\235\274\354\202\254\353\237\211-checkpoint.ipynb"
 create mode 100644 "posts/3_Researches/SOLAR/2023-04-03-\354\235\274\354\202\254\353\237\211.ipynb"
 create mode 100644 posts/3_Researches/SOLAR/solar_radiation.csv
Enumerating objects: 10, done.
Counting objects: 100% (10/10), done.
Delta compression using up to 16 threads
Compressing objects: 100% (7/7), done.
Writing objects: 100% (7/7), 8.74 KiB | 8.74 MiB/s, done.
Total 7 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/miruetoto/yechan3.git
   495d9ce..299d058  main -> main

`-` 불러오기

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/miruetoto/yechan3/main/posts/3_Researches/SOLAR/solar_radiation.csv")
df

       region  solar_radiation              date
0         북춘천              0.0  2021-01-01-00:00
1         북춘천              0.0  2021-01-01-01:00
2         북춘천              0.0  2021-01-01-02:00
3         북춘천              0.0  2021-01-01-03:00
4         북춘천              0.0  2021-01-01-04:00
...       ...              ...               ...
802995    경주시              0.0  2022-12-31-07:00
802996    경주시              0.0  2022-12-31-20:00
802997    경주시              0.0  2022-12-31-06:00
802998    경주시              0.0  2022-12-31-21:00
802999    경주시              0.0  2022-12-31-05:00

[803000 rows x 3 columns]

`-` 다운로드

```default
!wget https://raw.githubusercontent.com/miruetoto/yechan3/main/posts/3_Researches/SOLAR/solar_radiation.csv
```